<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrayBin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrayBin.Properties.Settings>
            <setting name="DoubleClickAction" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="RemoveConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveProgressBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddToStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </TrayBin.Properties.Settings>
    </userSettings>
</configuration>